@model BelibaHoma.BLL.Models.TutorSessionModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@




<h2>הוסף מפגש חדש</h2>


@Html.Partial("_TutorSessionForm", Model)
