@model BelibaHoma.BLL.Models.GradeModel

@{
    ViewBag.Title = "הוספת ציון";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
    <h2>הוסף ציון בסמסטר</h2>

    @Html.Partial("_GradeForm", Model)
</div>