@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    <div class="row" >
        @*<h1 align="center" id="welcome-title">ברוכים הבאים !</h1>*@
        <br />
        @*<p align="center" class="lead" >ברוכים הבאים למערכת בליבה חומה!</p>*@
    </div>  @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@


    <div class="row">
        <div align="center">
            <img src="~/Content/BelibaHoma.jpg" height="380" width="380" />
        </div>
        <br/>

            <div class="col-md-4">
                <div class="panel panel-default" style="background: white">
                    <center>
                        <h3>בליבה חומה</h3>
                        <p>
                            יוצרים גשר בין אוכלוסיות סטודנטים במדינת ישראל! 
                        </p>
                        <p>
                            <a class="btn btn-info" href="/Home/About">על התוכנית &raquo; </a>
                        </p>
                    </center>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default" style="background: white" >
                    <center>
                        <h3>עמותת ציוני דרך</h3>
                        <p>
                             תנועה חברתית ליצירת חברה פעילה ומעורבת.

                        </p>
                        <p>
                            <a class="btn btn-info" href="http://www.zioneiderech.org.il/about2">אתר ציוני דרך &raquo; </a>

                        </p>
                    </center>
                </div>
            </div>

        <div class="col-md-4">
            <div class="panel panel-default" style="background: white">
                <center>
                    <h3>הישארו מועדכנים</h3>
                    <p>
                        לעדכונים נוספים עברו לעמוד הפייסבוק שלנו

                    </p>
                    <p>
                        <a class="btn btn-info" href="https://www.facebook.com/belibachoma?fref=tss">פייסבוק &raquo; </a>

                    </p>
                </center>
            </div>
        </div>

    </div>
</div>