@using BelibaHoma.Models
@using Extensions.Enums
@model BelibaHoma.Areas.Rackaz.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/bootstrap-confirmation.js"></script>
    <script src="~/Scripts/rackaz-reports.js"></script>
}

<h1>ברוכים הבאים</h1>

<div class="well">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div>התרעות חדשות</div>
                </div>
                <div class="panel-footer">עבור להתרעות</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div>התרעות בטיפול</div>
                </div>
                <div class="panel-footer">עבור להתרעות</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div>שעות חניכה</div>
                </div>
                <div class="panel-footer">עבור לדיווחים</div>
            </div>
        </div>
    </div>
    <div class="row">
        <select class="form-control" id="Report" name="Report">
            <option>אנא בחר בדו"ח הרצוי</option>
            @foreach (ReportType type in Enum.GetValues(typeof(ReportType)))
            {
                <option value="@type.ToString()">@type.ToDescription()</option>
            }
        </select>
    </div>
    <div class="row" id="report-partial"></div>
</div>
