
@{
    ViewBag.Title = "NewYearFinished";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
    <font color="darkgreen">
        <h2><b><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> האיפוס הושלם בהצלחה!</b></h2>
    </font>
</div>