@model BelibaHoma.Areas.Rackaz.Models.TutorTraineeApproveViewModel
@using BelibaHoma.BLL.Enums

@{
    ViewBag.Title = "צפייה בהמצות לשידוך";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link href="~/Scripts/datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Scripts/bootstrap-confirmation.js"></script>
    <script src="~/Scripts/approvematches.js"></script>
}

<div class="well">
    <h2 align="center"><b>המלצות המערכת לציוות</b>
    </h2>
    <hr/>
    <div class="form-group">
        <label class="control-label col-md-2">אזור :</label>
        <div class="col-md-10" id="area-select">
            @{
                //if is rackaz - cannot select area for the academic institution
                object attr;
                if (ViewBag.IsRackaz)
                {
                    attr = new { @class = "form-control", @disabled = "disabled" };
                }
                else
                {
                    attr = new { @class = "form-control" };
                }
            }
            @Html.EnumDropDownListFor(model => model.Area, attr)
            <br>
        </div>
        <div class="row" id="area-partial"></div>
    </div>
</div>
