@model BelibaHoma.Areas.Rackaz.Models.TutorTraineeApproveViewModel
@using BelibaHoma.BLL.Enums

@{
    ViewBag.Title = "ManualMatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link href="~/Scripts/datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Scripts/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/bootstrap-confirmation.js"></script>
    <script>
        $(function() {
            function populateTutorTrainee(selectedArea) {
                // Send the value to the appropiate action $.post
                $.post('/Rackaz/TutorTrainee/ApproveMatchesAreaSelected', { Area: selectedArea }, function (data) {
                    // Success function replace the contant of the html in the correct div
                    $('#area-partial').html(data);
                    //Catch the form submition -
            }).fail(function(data) {
            // Make sure that the data is now a html of the error page
            $('html').html(data.responseText);
        });
        }

        var selectedArea = $('#area-select select').val();
        if (selectedArea) {
            populateTutorTrainee(selectedArea);
        }

        //Catch the select change event
        $('#area-select select').change(function() {
            //alert('changed');
            // Extract the selected value
            var selectedArea = $(this).val();

            populateTutorTrainee(selectedArea);
        });
    });
    </script>
}


<h2>המלצות המערכת לציוות</h2>
<div class="form-group">
    <label class="control-label col-md-2">אזור :</label>
    <div class="col-md-10" id="area-select">

        @{
            //if is rackaz - cannot select area for the academic institution
            object attr;
            if (ViewBag.IsRackaz)
            {
                attr = new { @class = "form-control", @disabled = "disabled" };
            }
            else
            {
                attr = new { @class = "form-control" };
            }
        }

        @Html.EnumDropDownListFor(model => model.Area, attr)
        <br>
    </div>
    <div class="row" id="area-partial"></div>
</div>
