@model BelibaHoma.Areas.Rackaz.Models.TraineeViewModel

     @{ ViewBag.Title = "יצירת חניך"; Layout = "~/Views/Shared/_Layout.cshtml"; }
     @section scripts {
     @Scripts.Render("~/bundles/jqueryval")
         <script src="~/Scripts/trainee.js"></script>
@*    <script src="~/Scripts/user.js"></script>*@
}

<div class="well">

    <br/>

    <h1 align="center"><b>הוסף חניך</b></h1>

    @Html.Partial("_TraineeForm", Model)

</div>

@section styles
{
<link href="~/Content/Site.css" rel="stylesheet" />
}

