@model BelibaHoma.Areas.Rackaz.Models.TraineeViewModel

@{
    ViewBag.Title = "עריכת חניך";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/trainee.js"></script>

}

<br/>
<div class="well">
    <h1 align="center"><b>ערוך פרטי חניך</b></h1>

    @Html.Partial("_TraineeForm", Model)
</div>

@section styles
{
    <link href="~/Content/Site.css" rel="stylesheet" />
}


