@model BelibaHoma.Areas.Rackaz.Models.TraineeViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/trainee.js"></script>
}

<br/>
<div class="well">
    <h1>ערוך פרטי חניך</h1>

    @Html.Partial("_TraineeForm", Model)
<div>