@model BelibaHoma.BLL.Models.UserModel

@{
    ViewBag.Title = "יצירת משתמש";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/user.js"></script>
}



<div class="well">
    
    <h2>הוסף משתמש</h2>


    @Html.Partial("_UserForm", Model)

</div>




