@model BelibaHoma.BLL.Models.AcademicMajorModel
@using BelibaHoma.BLL.Enums

@{
    ViewBag.Title = "יצירת מסלול לימוד";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="well">
    <h2>הוסף מסלול לימודים חדש</h2>

    @Html.Partial("_AcademicMajorForm", Model)
</div>


