@model BelibaHoma.Areas.Rackaz.Models.TutorViewModel

@{
    ViewBag.Title = "יצירת חונך";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tutor.js"></script>
    
}


<br/>
<div class="well">
    <h1>הוסף חונך</h1>

    @Html.Partial("_TutorForm", Model)

</div>