@model BelibaHoma.Areas.Rackaz.Models.TutorViewModel

@{
    ViewBag.Title = "עריכת חונך";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tutor.js"></script>
}

<div class="well">
    <br/>
    <h1>ערוך פרטי חונך</h1>


    @Html.Partial("_TutorForm", Model)

</div>

