@model BelibaHoma.BLL.Models.TutorReportModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@


<h2>ערוך דיווח</h2>


@Html.Partial("_TutorReportForm", Model)
