@model List<int>
@{
    Layout = null;
}

    <hr />

    @* Graph Container *@
    <div id="container"></div>
    @* Graph report scripts *@
    <script src="~/Scripts/reports/hour-histogram.js"></script>
