@model BelibaHoma.BLL.Models.TutorReportModel

@{
    ViewBag.Title = "צור דיווח";
    ViewBag.tutorTraineeId = Model.TutorTraineeId;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/Site.css" rel="stylesheet" />
}

@section scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


<div class="well">
    <h2>הוסף דיווח חדש</h2>

    @Html.Partial("_TutorReportForm", Model)
</div>
