@model BelibaHoma.BLL.Models.TutorReportModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@




<h2>הוסף דיווח חדש</h2>


@Html.Partial("_TutorReportForm", Model)