
@model BelibaHoma.BLL.Models.JobOfferModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<h2>ערוך משרה</h2>


@Html.Partial("_JobOfferForm", Model)
