@model BelibaHoma.BLL.Models.AcademicInstitutionModel

@{
    ViewBag.Title = "יצירת מוסד לימוד";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<div class="well">
    <h2>הוסף מוסד אקדמי חדש</h2>


    @Html.Partial("_AcademicInstitutionForm", Model)

</div>




