@model BelibaHoma.BLL.Models.AcademicInstitutionModel

@{
    ViewBag.Title = "עריכת מוסד לימוד";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="well">
    <h2>ערוך מוסד אקדמי</h2>

    @Html.Partial("_AcademicInstitutionForm", Model)
</div>